{% extends "base.html.twig" %}
 {% block body %}
<div class="container">
    <h1>IPL Schedules</h1>
    <div id="row">
        <div class="col-md-4">
            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-6" for="email">Tournament start date:</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control" id="tournamentStartDate" value="{{ app.request.get('tournamentStartDate') }}" name="tournamentStartDate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-6 col-sm-6">
                        <button type="submit" class="btn btn-default">Get Schedule</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <img src="https://i0.wp.com/www.wallpapersbyte.com/wp-content/uploads/2016/04/IPL-2016-Team-Captains-IPL-9-MCC-Spirit-Sign-WallpapersByte-com-1366x768.jpg?resize=620%2C349&ssl=1">
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-sm-10">
            <h4>IPL Schedule</h4>
            <hr>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Match #</th>
                    <th>Date </th>
                    <th>Team Names</th>
                    <th>City</th>
                </tr>
                </thead>
                <tbody>
                {%  set count = 1 %}
                {%  for key in  matches %}
                <tr class="">
                    <td>{{ count }}</td>
                    <td>{{  key['date'] }}</td>
                    <td>{{ key['home_team'] }} v/s {{ key['away_team'] }}</td>
                    <td>{{ key['stadium'] }}</td>
                </tr>
                    {% set count = count + 1 %}
                {% endfor %}
                </tbody>
            </table>
            <h4>Teams & Home Ground</h4>
            <hr>
            <table class="table table-bordered success">
                <thead>
                <tr>
                    <th>Team</th>
                    <th>Home Ground</th>
                </tr>
                </thead>
                <tbody>
                {% set count = 1 %}
                {% for key in teams %}
                    <tr>
                        <td> {{ count }}. {{  key }} </td>
                        <td> {{ stadiums[key]  }}</td>
                    </tr>
                    {% set count = count + 1 %}
                {%  endfor %}
                <tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>
 {% endblock %}